@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-secondary: #10b981;
  --font-sans: 'Sarabun', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased font-sans;
  }
}
